name: Gitlab Dashboard Application

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  Preparation:
    uses: Rakha-FR/reusable-workflow/.github/workflows/preparation.yml@main
    secrets: inherit

  remote-workflow:
    uses: Rakha-FR/reusable-workflow/.github/workflows/gitlab-dashboard.yml@main
    needs: Preparation
    secrets: inherit
    with:
      RUNNER_GROUP: ${{ needs.Preparation.outputs.RUNNER_GROUP }}
      ENV_SERVER: ${{ needs.Preparation.outputs.ENV_SERVER }}
      REPO_OWNER: ${{ needs.Preparation.outputs.REPO_OWNER }}
      REPO_NAME: ${{ needs.Preparation.outputs.REPO_NAME }}
      APP_VERSION: ${{ needs.Preparation.outputs.APP_VERSION }}
      SQ_RULES: ${{ needs.Preparation.outputs.SQ_RULES }}
      MERGED_RULES: ${{ needs.Preparation.outputs.MERGED_RULES }}
      MANUAL_RULES: ${{ needs.Preparation.outputs.MANUAL_RULES }}
      DOCKERFILE_NAME: Dockerfile
      IMAGE_NAME: rakhafr/gitlab-dashboard
